.metronome {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    padding: 30px;
}
.bpm-slider input {
    width: 100%;
    margin: 10px;
}
body{
    background-color: #674172;
}

.metronome button {
    background: #d91e18;
    padding: 10px;
    border: 1px solid #96281b;
    border-radius: 2px;
    width: 100px;
    color: #fff;
    font-size: 18px;
}

